<div class="container">
    <br>
    <br>
    <h2>Report Your Complaintes Here...!!</h2><br><br>
<form>
    <div class="row">
        <div class="form-group">
            <select name="complaints" aria-selected="true" aria-placeholder="Complaint type" class="form-control" required>
                <option value="Sexsual Abuse">Sexsual Abuse</option>
                <option value="Child Care">Child Care</option>
                <option value="Other Complaints">Other Complaints</option>

            </select>
        </div>
        <br>
        <div class="col-md-5">
            <div class="form-group">
                <input type="text" name="name" placeholder="Enter your Name.." class="form-control" required>
            </div>
            <div class="form-group">
                <input type="number" name="age" placeholder="Enter your age.." class="form-control" required>
            </div>
            <div class="form-group">
                <select name="gender" aria-placeholder="Gender" aria-selected="true" class="form-control" required>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            <div class="form-group">
                <div class="row form-group" >
                    <div class="col-md-5 form-group">
                        <input type="text" name="address" placeholder=" your Address " class="form-control" required>

                    </div>
                    <div class="col-md-5">
                        <input type="text" name="place" placeholder="Your place" class="form-control" required>

                    </div>
                    <div class="col-md-5">
                        <input type="number" name="pin" placeholder="Your pin no" class="form-control" required>

                    </div>
                </div>
                
            </div>
            <div class="form-group">
                <input type="phone" name="phone" placeholder="phone no " class="form-control" required>
                
            </div>
            <div class="form-group">
                <input type="mail" name="" placeholder="Enter EmailId" class="form-control" required>
                
            </div>

        </div>
        <div class="col-md-5">
            <div class="form-group">
                <div class="form-group">
                    <input type="text" name="name" placeholder="Enter Accused Name.." class="form-control" required><br>
                </div>
            </div>
            <div class="form-group">
                <input type="number" name="age" placeholder="Enter Accused age.." class="form-control" required>
            </div>
            <div class="form-group">
                <select name="gender" aria-placeholder="Gender" aria-selected="true" class="form-control" required>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            <div class="form-group">
                <div class="row form-group">
                    <div class="col-md-5 form-group">
                        <input type="text" name="address" placeholder="Accused Address " class="form-control" required>

                    </div>
                    <div class="col-md-5">
                        <input type="text" name="place" placeholder="Accused place" class="form-control" required>

                    </div>
                    <div class="col-md-5">
                        <input type="number" name="pin" placeholder="Accused pin no" class="form-control" required>

                    </div>
                </div>
            <textarea name="complanitdetails" placeholder="Enter Your complaint..!!" class="form-control"></textarea>
                
            </div>

        </div><br>
        
            <!-- <input type="textarea" placeholder="complaint " required> -->
      
    </div>
    <button type="button"  class="form-control  btn btn-outline-dark">Save Here..!! </button>
</form>
</div>
